

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(240, 247, 234);
position: relative;
display: flex;
flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    box-shadow: #ddd;
    background-color: rgb(179, 198, 231);
}

header nav a {
    text-decoration:none;
    font-size: 20px;
    display: inline-block;
    border: #948788;
}

header nav a:hover {
    color: black;
}

section.bgimage {
    height: 100vh;
    background-image:url("https://media.istockphoto.com/id/1419766496/photo/abstract-concepts-of-cybersecurity-technology-and-digital-data-protection-protect-internet.webp?b=1&s=170667a&w=0&k=20&c=ymHzOpQBTrldJ5egITZZAgfc7PGmxZ2bP83eo-KjARM=");
    background-size: cover;
    position: relative;
}

.hero_title{
    font-size: 4.5rem;
}

.hero_desc{
    font-size: 2rem;
}


.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

main{

}

section{
    display: flex;
}

.title{
    border-right: black solid 3px;
    flex: 0 0 20%;

}

h2{
    text-align: center;
    margin-top: 50px;
}

section div img{
   
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        width: 150px;
        flex-direction: column;
    
}

.about-content{
    margin-left: 0px;
    margin-top: 40px;
    border-bottom: 5px solid black ;
}



.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: end;
    background-color: #ad655b;
}

@media screen and (max-width: 768px) { */
/* Use flex-direction to stack the navbar, sidebar, and body */
main,
    nav { */
 flex-direction: column;
    }
/* Make the sidebar stack below the body */
 aside {
    order: 2; */
 } 
 
/* Change the header background */
header {
      background: #ad655b;
    }
/* Change the navbar and footer background */
/ nav,
    footer {
      background-color: #948788;
    }
  }
  